/* This is a stylesheet for Assignment3.html */

/*
p {
    color: #ff0000; 
    background-color: #AAE2CD; 
  }
  */
body{
  background-image: url(love.png);
}
  .specialp {
    color: #0000FF;
    background-color:lightgreen; 
  }
  #specialid {
color: #006600;
background-color: orange;
  }

  #divexample {
background-color: rgb(0, 225, 255);
  } 
.spanstyle {
  color: red;  
}
a {
    color: #ff0000;
    text-decoration: none;
  }

  a:link {
    color: #ff0000;
  }

  a:visited {
    color: green;
  }
  
  a:active {
    color: #00ffff;
  }

  a:hover {
    color:yellow;
    text-decoration: underline;
  }    

 .makepink {
  color:pink;
  background-color: #0000FF;
 }
 .makered {
  color:#ff0000;
  background-color: antiquewhite;
 }
 .makeblue {
  color: blue;
  background-color: azure;
 }
 h1{
  font-style: italic;
   font-weight: normal;
 }

h2{
 font-style: italic;
  font-weight: normal;
}

h3{
  font-style: italic;
   font-weight: normal;
 }

 h4{
  color:yellow;
  font-style: italic;
   font-weight: normal;
 }
 .customtext {
   font-family: Arial, Helvetica, sans-serif ;
  
 }
 .boxmodel{
  border:15px solid #000000;
  padding: 20px 20px;
  margin: 10px 10px 10px 10px; 
  background-color: yellow;
 }
 .textcenter{
  text-align: center;
 }
 .textjustify{
  text-align: justify;
 }
 .makeorange{
  color:orange;
 }